* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    font-family: 'Dancing Script', cursive;
    /* @import url('https://fonts.googleapis.com/css?family=Dancing+Script:400,700&display=swap'); */
}

body a {
    text-decoration: none;
}


/* ##--- CONTENEDOR PRINCIPAL---## */

.contenedor {
    width: 900px;
    display: flex;
    flex-flow: column nowrap;
}


/* ##--- HEADER ---## */

header {
    background: #5b7989;
    display: flex;
    justify-content: space-around;
    border-radius: 10px 10px 0 0;
}

h1 {
    color: #ffffff;
    text-shadow: 2px 2px 2px #02010a;
}

.navbar {
    text-shadow: 2px 2px 2px #02010a;
    display: flex;
    align-items: center;
}

.navbar a {
    padding: 0px 8px;
    font-size: 22px;
    color: #ffffff;
}


/* ##--- SECTION 1 ---## */

.contenedor-central {
    background: #82c3a6;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.imagen-central {
    margin: 30px;
}

.imagen-central img {
    width: 100%;
    box-shadow: 2px 2px 2px #02010a;
}


/* ##--- SECTION 2 ---## */

.contenedor-secundario {
    background: #d5c75f;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.imagen-secundaria {
    margin: 30px;
    text-align: center
}

.imagen-secundaria img {
    width: 100%;
}

.text-secon {
    text-decoration: underline;
    font-size: 16px;
}

.contenedor-pages {
    background: #d5c75f;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.imagen-pages {
    margin: 30px 10px;
    width: 30%;
}

.imagen-pages img {
    width: 100%;
    box-shadow: 2px 2px 2px #02010a;
}


/* #-- Imagenes ID: HOVER--# */

#paisaje {
    box-shadow: 2px 2px #02010a;
}

#paisaje:hover {
    border: 2px solid #02010a;
    transform: rotate(10deg);
    transition: 1s;
    box-shadow: 5px 5px 4px #82c3a6;
}

#retrato {
    box-shadow: 2px 2px #02010a;
}

#retrato:hover {
    border: 2px solid #02010a;
    transform: translate(20px, -5px);
    transition: 1s;
    box-shadow: -5px 5px 4px #82c3a6;
}


/* #-- Imagenes ID: FILTER --# */

#img-1 {
    -webkit-filter: blur(10px);
    filter: blur(10px)
}

#img-2,
#img-4,
#img-6 {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

#img-3 {
    -webkit-filter: sepia(90%);
    filter: sepia(90%);
}


/* ##--- FOOTER ---## */

footer {
    background: #C6d5c5;
    border-radius: 0 0 10px 10px;
    display: flex;
    justify-content: space-around;
    flex-flow: row nowrap;
}

article {
    display: flex;
    flex-flow: column nowrap;
    margin: 30px 5px;
}

.social,
.correo {
    padding: 5px;
}

.icons {
    width: 15%;
}


/* ##--- QUERYS ---## */

@media screen and (max-width:900px) {
    header {
        flex-direction: column;
        align-items: center;
        padding-bottom: 10px;
    }
    .contenedor-secundario {
        flex-flow: column wrap;
        justify-content: center;
    }
    footer {
        flex-flow: column wrap;
        align-items: center;
    }
    article {
        display: flex;
        flex-flow: column wrap;
        width: 90%;
        margin: 2px;
    }
    .redes-sociales {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .social {
        margin: 0 10px;
    }
    .icons {
        width: 50%;
    }
    /* #-- Pages --# */
    .contenedor-pages {
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
    }
    .imagen-pages {
        margin: 5px 10px;
        width: 90%;
    }
}


/* ##--- KEYFRAMES ---## */

.up {
    animation: ciclos 1s;
}

@-webkit-keyframes ciclos {
    from {
        margin-top: 150%;
    }
    to {
        margin-top: 0%;
    }
}


/* @keyframes ciclos {
    from {
        margin-top: 150%;
    }
    
    to {
        margin-top: 0%;
    }
} */